@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #4eaff5;
  --hover-color: #429fe0;
  --bg-gradient: linear-gradient(to top, #7d82a1, #4f79a8);
  --h1-color: #fff;
  --text-span-color: #0e91ee;
  --box-shadow-color: #4d4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--bg-gradient);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#container h1 {
  color: var(--h1-color);
}

#container h1 span {
  color: var(--text-span-color);
}

#main-box {
  margin-top: 50px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.input-box input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 0 10px 0;
  font-size: 14px;
  width: 100%;
  padding-left: 10px;
  box-shadow: 3px 3px 7px var(--box-shadow-color);
}

.button-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.button:hover {
  background-color: var(--hover-color);
}

#tasks {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.inputValue {
  margin-left: 5px;
  font-size: 16px;
}

.completed-task {
  text-decoration: line-through;
}